@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,form,fieldset,legend,input,textarea,button,select,div,figure{margin:0;padding:0;box-sizing:border-box;word-break:keep-all;word-wrap:break-word}
td,th{margin:0;padding:0;word-break:keep-all;word-wrap:break-word}
body,input,textarea,select,button,table,th,td,pre{color:#333;font-family:HankookEN, Arial;font-weight:400;font-size:20px;line-height:1.7}
h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:1.2}
img,fieldset,iframe{border:0;vertical-align:top}
textarea{resize:none}
ul,ol{margin:0;padding:0;list-style:none}
ul:after,ol:after{content:'';display:block;clear:both}
em,address{font-style:normal}
input,select{vertical-align:middle}
table{width:100%;border-collapse:separate;empty-cells:show;border-spacing:0}
hr,legend{display:none}
caption{overflow:hidden;position:static;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
strong, b{font-weight:600}
button{box-sizing:border-box;border:none;background:none}
label{cursor:pointer}
a{color:inherit;text-decoration:none}
a:hover{text-decoration:none}
a:visited{color:inherit}
a{box-sizing:border-box}
a, button{cursor:pointer}
section{height:100vh;box-sizing:border-box}

.topic{position: absolute;font-size:40px;top:0;left:-100%;opacity:0;transition:1.5s}
.topic.active{left:0;opacity:1}

header{position:fixed;top:-70px;left:0;width:100%;height:60px;transition:.6s;z-index:1}
header.show{top:0}
header .inner{height:100%;margin:0 auto;display:flex;justify-content:center;align-items:center;max-width:1400px;padding:10px}
header .inner .menu{display:flex;align-items:flex-start;width:100%}
header .inner .menu > li{margin-right:5px}
header .inner .menu > li:last-child{margin-right:0}
header .inner .menu > li > a{padding:10px}
header .inner .logo{width:30px;height:30px;align-items:flex-end}
header .inner .logo a{position:relative;display:block;width:100%;height:100%}
header .inner .logo a img{width:100%;height:auto}
header .inner .logo > a > div{display:none;position:absolute;top:0;left:-135px;width:130px;height:auto;background:#484848;border-radius:10px;color:#fff;padding:5px;}
header .inner .logo .tooltip{position:relative;font-size:12px;}
header .inner .logo .tooltip::after{content:"";position:absolute;right:-12px;top:17px; border-top: 19px solid #484848;border-left: 2px solid transparent;border-right:16px solid transparent;}

.sec1{position:relative;padding-top:80px;background:url("../img/sec1_bg.jpg") no-repeat center;background-size:cover;background-position:0 30vh}
.sec1 .inner{padding-top:160px}
.sec1 .inner .animation{height:285px}
.sec1 .inner .animation h1{font-size:90px;font-weight:400;text-align:center;letter-spacing:20px;text-shadow:7px 7px rgba(0,0,0, .12)}
.sec1 .inner .animation h1 span{display: inline-block;animation-fill-mode:forwards;}
.sec1 .inner .animation h1 span:nth-child(1){transform:translateY(-15px)}
.sec1 .inner .animation h1 span:nth-child(2){transform:translateY(45px)}
.sec1 .inner .animation h1 span:nth-child(3){transform:translateY(-25px)}
.sec1 .inner .animation h1 span:nth-child(4){transform:translateY(25px)}
.sec1 .inner .txt{position:relative;padding-top:60px;font-size:25px;text-align:center;line-height:1.5;clear:both}
.sec1 .inner .dynamic::after{content:"|";display:inline;animation:blink .7s infinite}
@keyframes blink{
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}
.sec1 .inner .txt::before{content:"";display:block;position:absolute;top:0;width:7%;height:3px;background:#000;margin-left:50%;transform: translateX(-50%)}
.sec1 .scrollIcon{width:50px;height:50px;position:absolute;bottom:3%;left:50%;transform:translateX(-25px);animation:dragIcon 2s infinite;animation-timing-function:linear}
@keyframes dragIcon{
    0%{opacity:0}
    100%{opacity:1;bottom:1%;}
}
.sec1 .scrollIcon img{width:100%;height:auto}

.sec2{display:flex;justify-content:center;align-items:center;padding:100px 150px}
.sec2 > div{width:100%;height:100%}
.sec2 .leftArea{position:relative;padding-top:100px;}
.sec2 .leftArea p.animate{margin-bottom:20px;font-weight:400;text-align:right;line-height:1.9;font-size:17px;opacity:0}
.sec2 .leftArea p.animate.active{opacity:1}
.sec2 .leftArea p.active{transition:2s}
.sec2 .leftArea p.active+p.active{transition:3s}
.sec2 .leftArea p.active+p.active+p.active{transition:4s}
.sec2 .leftArea .active+.active+.active+.active{transition:5s}
.sec2 .middleArea{display:flex;justify-content:center;align-items:center}
.sec2 .middleArea .medal{position:relative;display:flex;justify-content:center;align-items:center;width:65%;height:60%}
.sec2 .middleArea .medal div{position: absolute;backface-visibility: hidden;transition: 1s}
.sec2 .middleArea .medal .front{display:flex;justify-content:center;align-items:center;transform:rotate(0);background-image:url(../img/lyj.jpg);background-size:cover;background-position:center;border-radius:80%;width:100%;height:100%}
.sec2 .middleArea .medal .back{transform:rotateY(-180deg);text-align:center}
.sec2 .middleArea .medal:hover .front{transform:rotateY(180deg)}
.sec2 .middleArea .medal:hover .back{transform:rotateY(0)}
.sec2 .middleArea .medal img{width:100%}

.sec2 .rightArea{display:flex;flex-wrap:wrap;padding-top:100px}
.sec2 .rightArea .listArea{width:100%;}
.sec2 .rightArea .listArea > div{background:#dcdcdc;margin-bottom:30px;border-radius:20px;padding:10px 5px;text-align:center}
.sec2 .rightArea .listArea div:last-child{margin:0}
.sec2 .rightArea .listArea div h1{font-weight:600;font-size:21px}
.sec2 .rightArea .listArea div ul{display: flex;align-items:center;justify-content: center;flex-wrap:wrap;font-size:15px;height:0;overflow:hidden}
.sec2 .rightArea .listArea div ul li{display: block;width:100%;padding:5px 0}
/* .sec2 .rightArea .listArea div ul.active{font-size:15px;height:auto;} */
/* .sec2 .rightArea .listArea > div p{display:none;height:0;transition:5s;opacity: 0} */
/* .sec2 .rightArea .listArea > div:hover p{display:block;height:auto;opacity: 1;} */

.sec3{position:relative;padding:100px 150px;background:#f1f2f6}
.sec3 .inner{position:relative;height:100%}
.sec3 .inner .skillBag{display:flex;justify-content:space-between;align-items:flex-end;height:100%}

.sec3 .inner .skillBag > div{position:relative;width:24%;height:85%;padding:13% 1%;border:3px solid #fff;overflow:hidden}

.wave {opacity:.4;position: absolute;bottom: -34%;left: 50%;background: #0af;width:700px;height:700px;margin-left:-350px;margin-top:-350px;transform-origin: 50% 48%;border-radius: 43%;animation: drift 3000ms infinite linear}
.wave.-three {animation: drift 5000ms infinite linear;}
.wave.-two {animation: drift 7000ms infinite linear;opacity: .1;background: yellow}
.box:after {content: '';display: block;left: 0;top: 0;width: 100%;height: 100%;background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));z-index: 11;transform: translate3d(0, 0, 0)}

@keyframes drift {
from { transform: rotate(0deg)}
from { transform: rotate(360deg)}
}

.sec3 .inner .skillBag > div .cursor {position: absolute; width: 50px; height: 50px; border-radius: 50%; background: #fff;mix-blend-mode: difference; transform: translate(-50%, -50%); pointer-events: none;z-index:3;transition: transform .4s;}


.sec3 .inner .skillBag > div .txtCont{position: absolute;display: flex;top: 0;left: 0;width: 100%;height: 100%;padding: 60% 1%;flex-wrap: wrap;align-items: center;justify-content: center;z-index:2;color: #000;;pointer-events:none}
.sec3 .inner .skillBag > div .txtCont h2{text-align:center;margin-bottom:30px;font-weight:600;font-size:25px}
.sec3 .inner .skillBag > div .txtCont p{font-size:14px;text-align:center}

.sec3 .inner > p{text-align:center}
.sec3 .inner > p > span{position:relative}
.sec3 .inner > p span::before{content: "";display:block;position:absolute;top:-10px;bottom:0;left:-35px;width:30px;background-image: url(../img/click.png);background-repeat:no-repeat;background-position:center center;background-size:100% auto;}
.sec3 .inner > p .material-icons{margin-top: 2px}

.sec4{padding:100px 150px}
.sec4 .inner{display:flex;position:relative;height:100%}
.sec4 .swiperArea{position:relative;display:flex;align-items:center;justify-content:flex-start;width:300px;height:85%;margin-top:8%;padding:3% 0}
.sec4 .swiper{position:relative;height:100%}
.sec4 .swiper .swiper-wrapper .swiper-slide{padding:15px 0;cursor: pointer}
.sec4 .swiper .swiper-wrapper .swiper-slide img{display:block;width:100%;height:100%;border-radius:5px}
.sec4 .swiper .swiper-wrapper .swiper-slide.swiper-slide-active{z-index:1;transition:.3s}
.sec4 .swiperArea .swiper-button-prev{position:absolute;top:10px;left:50%;margin-left:-25px;width:50px;height:50px}
.sec4 .swiperArea .swiper-button-prev::after{display:none}
.sec4 .swiperArea .swiper-button-prev img{display:block;width:100%;height:100%;transform:rotate(180deg)}
.sec4 .swiperArea .swiper-button-next{position:absolute;top:calc(100% - 10px);left:50%;margin-left:-25px;width:50px;height:50px}
.sec4 .swiperArea .swiper-button-next::after{display:none}
.sec4 .swiperArea .swiper-button-next img{display:block;width:100%;height:100%}
.sec4 .detailArea{width:100%;position:relative}
.sec4 .detailArea .detailList{width:100%;height:100%;position:relative}
.sec4 .detailArea .slideNum{position:absolute;left:0;right:0;font-size:30vw;color:rgba(0,0,0,.03);z-index:-1;text-align:center;padding-left:11%}
.sec4 .detailArea .detailList li>a{display: block;margin-top: 55px}
.sec4 .detailArea .detailList li{position:absolute;width:100%;height:100%;padding:4% 0 0 100px;opacity:0;transition:.5s;top:0;left:0;}
.sec4 .detailArea .detailList li.active{opacity:1;z-index:1;}
.sec4 .detailArea .detailList .mainTxt{display: block;font-size:30px;text-align:left;margin-bottom: 20px}
.sec4 .detailArea .detailList .subTxt1{text-align:right;margin-right:60px;margin-bottom:10px}
.sec4 .detailArea .detailList .subTxt2{text-align:right;margin-right:60px}
.sec4 .detailArea .detailList .imgArea{position:relative;display:flex;justify-content:center;align-items:center}
.sec4 .detailArea .detailList .imgArea::after{content:'클릭하시면 페이지를 보실수 있습니다.';display:block;position:absolute;width:100%;text-align:center;bottom:-10%}
.sec4 .detailArea .detailList .imgArea img{height:100%;border-radius:25px;box-shadow:5px 5px 15px rgba(0,0,0,.4)}




